body{
    background-color: rgb(253, 236, 244);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8c7e8;
}

li {
  float:inline-start;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #39010d;
}


a:link {
    background-color: #e8c7e8;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #39010d;
  }

#banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.row {
  display: flex;
}

.left, .right {
  width: 50%;
}

.right img {
  width: 100%;
  height:400px;
  object-fit: cover;
}