body {
  background-color: rgb(253, 236, 244);
}

h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8c7e8;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure it stays above other content */
}

li {
  float: inline-start;
}

li a {
  display: block;
  color: #39010d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.nav-right {
  float: right;
}

.active {
  background-color: #39010d;
  color: white;
}


.button {
  background-color: #e8c7e8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a:hover,
a:active {
  background-color: #39010d;
  color: white;
}

#banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: bottom;
}

.row {
  display: flex;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.row.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.left,
.right {
  width: 50%;
  margin: 8px;
}

.right img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}